In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
UsedCarsSA = pd.read_csv('UsedCarsSA_Unclean_EN.csv')

In [3]:
UsedCarsSA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8248 entries, 0 to 8247
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Link         8248 non-null   object
 1   Make         8248 non-null   object
 2   Type         8248 non-null   object
 3   Year         8248 non-null   int64
 4   Origin       8153 non-null   object
 5   Color        8248 non-null   object
 6   Options      8139 non-null   object
 7   Engine_Size  5982 non-null   float64
 8   Fuel_Type    8248 non-null   object
 9   Gear_Type    8174 non-null   object
 10  Condition    8248 non-null   object
 11  Mileage      8248 non-null   int64
 12  Region       8248 non-null   object
 13  Price        8248 non-null   object
 14  Negotiable   8248 non-null   bool
dtypes: bool(1), float64(1), int64(2), object(11)
memory usage: 910.3+ KB

In [4]:
UsedCarsSA.isnull().sum()

Link              0
Make              0
Type              0
Year              0
Origin           95
Color             0
Options         109
Engine_Size    2266
Fuel_Type         0
Gear_Type        74
Condition         0
Mileage           0
Region            0
Price             0
Negotiable        0
dtype: int64

In [5]:
UsedCarsSA['Negotiable']

0       False
1        True
2       False
3       False
4       False
        ...
8243    False
8244    False
8245     True
8246    False
8247    False
Name: Negotiable, Length: 8248, dtype: bool

In [6]:
UsedCarsSA = UsedCarsSA.assign(Engine_Size_isnull = UsedCarsSA['Engine_Size'].isnull())
UsedCarsSA['Engine_Size_isnull'] = UsedCarsSA['Engine_Size_isnull'].astype('int64')
UsedCarsSA.drop('Link', axis=1,inplace=True)

UsedCarsSA['Origin_isnull'] = np.where(UsedCarsSA['Origin'].isnull(),1,0)
UsedCarsSA['Options_isnull'] = np.where(UsedCarsSA['Options'].isnull(),1,0)
UsedCarsSA['Gear_Type_isnull'] = np.where(UsedCarsSA['Options'].isnull(),1,0)

In [7]:
UsedCarsSA['Price'].replace('Negotiable', np.nan ,inplace = True)
UsedCarsSA['Price'] = UsedCarsSA['Price'].astype('float64')

UsedCarsSA['Price'] = UsedCarsSA.groupby(['Type', 'Options', 'Year'])['Price'].transform(lambda x: x.fillna(x.mean()))

UsedCarsSA['Price'] = UsedCarsSA['Price'].fillna(UsedCarsSA['Price'].mean())
UsedCarsSA['Price'].isna().sum()

0

In [8]:
UsedCarsSA['Gear_Type'].value_counts()

Gear_Type
Automatic    7069
Manual       1105
Name: count, dtype: int64

In [9]:
UsedCarsSA['Origin'].replace(np.nan,'Saudi',inplace=True)
UsedCarsSA['Options'].replace(np.nan,'Full',inplace=True)
UsedCarsSA['Gear_Type'].replace(np.nan,'Automatic',inplace=True)

In [10]:
UsedCarsSA_copy = UsedCarsSA.copy()

In [11]:
UsedCarsSA_copy['Make'].replace(['Chrysler', 'Nissan', 'Hyundai', 'Honda', 'Toyota', 'GMC',
       'Chevrolet', 'Mercedes', 'MINI', 'Lexus', 'Land Rover', 'Mazda',
       'Ford', 'Kia', 'Genesis', 'Cadillac', 'Geely', 'MG', 'Jeep',
       'INFINITI', 'Dodge', 'Ferrari', 'Great Wall', 'Jaguar', 'GAC',
       'Renault', 'Suzuki', 'Peugeot', 'Changan', 'HAVAL', 'BMW',
       'Rolls-Royce', 'Porsche', 'Mitsubishi', 'Isuzu', 'Subaru',
       'Zhengzhou', 'Audi', 'Lincoln', 'Volkswagen', 'Daihatsu', 'Fiat',
       'Bentley', 'FAW', 'Chery', 'Aston Martin', 'Pontiac', 'Mercury',
       'BYD', 'Classic', 'SsangYong', 'Hummer', 'Other', 'Maserati',
       'Lifan', 'Foton', 'Tata', 'Victory Auto', 'Å koda', 'JAC', 'Iveco',
       'Volvo', 'Ashok', 'MAN', 'Buick'],set(range(0, 65)),inplace=True)
UsedCarsSA_copy['Type'].replace(['C300', 'Patrol', 'Sunny', 'Elantra', 'Accord', 'Land Cruiser',
       'Yukon', 'Impala', 'Yaris', 'Camry', 'Tahoe', 'CLA', 'E', 'Accent',
       'Corolla', 'Copper', 'Prado', 'Civic', 'Furniture', 'RX',
       'Range Rover', 'Avalon', 'Bus Urvan', 'Aurion', 'Malibu', 'Rav4',
       'CX9', 'Expedition', 'ES', 'Cadenza', 'Tucson', 'Platinum', 'G80',
       'Sonata', 'LX', 'Senta fe', 'GX', 'Azera', 'CT-S', 'EC7', 'ZS',
       'Kona', 'Grand Cherokee', 'Optima', 'S', 'M', 'Charger', 'Taurus',
       'GTB 599 Fiorano', 'Suburban', 'Royal', 'Picanto', 'Power',
       'Datsun', 'F-Pace', 'Hilux', 'FJ', 'Explorer', 'Land Cruiser 70',
       'GS8', 'Maxima', 'Caprice', 'Challenger', 'Camaro', 'Symbol',
       'Fluence', '6', 'RX5', 'APV', '3008', 'SRX', 'Cerato', 'Traverse',
       'Marquis', 'Innova', 'Sierra', 'F150', 'Genesis', 'NX', 'C', 'G70',
       'Flex', 'UX', 'Dyna', 'Cores', 'Creta', 'Rio', 'Odyssey', 'EC8',
       'Sylvian Bus', 'CT6', 'H1', 'Ciocca', 'Land Cruiser Pickup',
       'Cressida', 'Sportage', 'Duster', 'Seven', 'GLC', 'Carnival', 'H6',
       '300', 'The 7', 'Spark', 'Z370', 'Victoria', 'Ghost', '911',
       'Attrage', 'Focus', 'X-Trail', 'Forester', 'CX5', 'Pick up', 'ML',
       'The 4', 'GS', 'Pajero', 'Acadia', 'City', 'Echo Sport', 'Vego',
       'The 5', 'Silverado', 'A5', 'Cherokee', 'Altima', 'X', 'Navigator',
       'Wrangler', 'G', 'XT5', 'Cruze', 'Navara', 'Touareg', 'Gran Max',
       'Escalade', 'Cayenne S', 'Aveo', 'Soul', 'Durango', 'Montero',
       'Prestige', 'Sentra', 'Dokker', 'Veloster', 'Fusion', 'Capture',
       'Pathfinder', 'Seltos', 'Behbehani', 'LS', 'Emgrand', 'Carenz',
       'SEL', 'The 6', 'SL', 'H2', 'Fiorino', 'Nativa', 'Talisman',
       'Corvette', 'CL', 'Blazer', 'Mustang', '5008', 'CX3', 'Bentayga',
       'A', 'T77', 'Optra', 'Trailblazer', 'Safrane', 'QX', 'Pilot',
       'Tiggo', 'Ranger', 'H9', 'Eado', 'GLE', 'MKS', 'CT5', 'VTC',
       'Panamera', 'CS35', 'Toyota 86', 'Coolray', 'Countryman', 'D-MAX',
       'Azkarra', 'Partner', '301', 'A6', 'Previa', 'X-Terra', 'Other',
       'Hiace', 'Maybach', 'V7', 'CS75', 'Flying Spur', 'Outlander', 'GT',
       'Sorento', 'Vanquish', 'Safari', 'K5', 'Vantage', 'HRV', '3', 'Q5',
       'CT4', 'MKX', 'S5', 'X7', 'CS95', 'Rush', '2', 'Delta', 'IS',
       'Cayenne', 'CS35 Plus', 'SE', 'KICKS', 'Q', 'CS85', 'Armada',
       'Opirus', 'Echo', 'Avanza', 'GLB', 'Terios Ground', 'Abeka',
       'Bonneville', '5', 'S300', 'Corolla Cross', 'Koleos', '308',
       'MR-V', 'Town Car', 'Compass', 'Edge', 'Grand Marquis', 'A8',
       'Grand Vitara', 'Mohave', 'X Type', 'Lumina', 'Tiida', '500',
       'Macan', 'Savana', 'Passat', 'CLS', 'Stinger', 'Viano', 'A3', 'S8',
       'RX8', 'XJR', 'RC', 'MKZ', 'CC', 'Coaster', 'C-HR', 'S7', 'Wingle',
       'Terrain', 'Colorado', 'Ram', 'Vitara', 'Juke', 'C200', 'FX',
       'Terios', 'Fleetwood', 'Milan', 'Cayman', 'Boxer', 'ATS',
       'Cadillac', 'Rexton', 'H3', 'Tundra', 'Envoy', 'T60', 'Prius',
       'Montero2', 'Jaguar', 'Osa Bus', 'F3', 'XF', 'Gamble', 'The 3',
       'Koranado', 'L200', 'Crown', 'Lancer', '360', 'Jimny', 'Q7', 'XJ',
       'LF X60', 'Town and Country', 'Van', 'Patriot', 'GL', 'The M',
       'Arnage', 'ASX', 'F Type', 'Golf', 'E350', 'Coupe S', 'Freestar',
       'Camargue', 'Doblo', '4Runner', 'M300', 'ALB', 'Actros', 'DTS',
       'Avalanche', 'Bus County', 'Prestige Plus', 'BT-50', 'H-2', 'Z',
       'Avante', 'Discovery', 'A4', 'B50', 'K4000G', 'Sprinter',
       'Quattroporte', 'Bronco', 'Dakota', 'Beetle', 'Coupe', 'Mini Van',
       'Continental GT', 'Ertiga', 'GS3', 'Defender', 'A7', 'Gloria',
       'SLK', 'Tuscani', 'POS24', 'Kaptiva', 'Murano', 'DB9', 'Levante',
       'Jetta', 'H100', 'GLA', 'Transit', 'Sienna LE', 'CRV',
       'Thunderbird', '350', 'Nexon', 'i40', 'Cayenne Turbo S', 'Tiguan',
       'GC7', 'STS', 'Super Carry', 'Logan', 'i10', 'L300', 'Dzire',
       'LR2', 'Centennial', 'Axor', 'Cayenne Turbo', 'Mini Cooper',
       'Z350', 'Nitro', 'Van R', '323', 'Crosstour', 'SX4', 'Suvana',
       'Liberty', 'X40', 'Montero1', 'Bus', 'Megane', 'Fabia', 'Atego',
       'J5', 'Van Express', 'Daily', 'Carens', 'New Yorker', 'FH', 'G330',
       'Caprice Classic', 'Commander', 'The 1', 'Sedona',
       'Cayenne Turbo GTS', 'Grand Voyager', 'SRT', 'Bora', 'HS', "D'max",
       'Silvia', 'Eldorado', 'Pegas', 'Palisade', 'Celerio', 'Leyland',
       'Big Truck', 'XC90', 'C5700', 'Superb', 'GS4', 'The LS', 'Linea',
       'Fuso Canter', 'Veracruz', '307', 'S6', 'Space Star', 'Riviera',
       'ÙACTIS V80', 'CX7', 'R', 'QQ', 'Galant', 'Trafic', 'Carry'],set(range(0, 435)),inplace=True)
UsedCarsSA_copy['Origin'].replace(['Saudi', 'Gulf Arabic', 'Other'],set(range(0, 3)),inplace=True)
UsedCarsSA_copy['Color'].replace(['Black', 'White', 'Silver', 'Grey', 'Navy', 'Bronze', 'Red',
       'Another Color', 'Golden', 'Brown', 'Blue', 'Oily', 'Green',
       'Yellow', 'Orange'],set(range(0, 15)),inplace=True)
UsedCarsSA_copy['Options'].replace(['Full', 'Standard', 'Semi Full'],set(range(0, 3)),inplace=True)
UsedCarsSA_copy['Fuel_Type'].replace(['Gas', 'Diesel', 'Hybrid'],set(range(0, 3)),inplace=True)
UsedCarsSA_copy['Gear_Type'].replace(['Automatic', 'Manual'],set(range(0, 2)),inplace=True)
UsedCarsSA_copy['Condition'].replace(['Used'],set(range(0, 1)),inplace=True)
UsedCarsSA_copy['Region'].replace(['Riyadh', 'Jeddah', 'Dammam', 'Al-Medina', 'Qassim', 'Makkah',
       'Jazan', 'Aseer', 'Hail', 'Taef', 'Al-Ahsa', 'Abha', 'Sabya',
       'Besha', 'Khobar', 'Tabouk', 'Al-Baha', 'Hafar Al-Batin', 'Yanbu',
       'Jubail', 'Al-Jouf', 'Arar', 'Najran', 'Al-Namas', 'Qurayyat',
       'Wadi Dawasir', 'Sakaka'],set(range(0, 27)),inplace=True)
UsedCarsSA_copy['Negotiable'] = UsedCarsSA_copy['Negotiable'].astype('int64')

In [12]:
UsedCarsSA_no_Engine_Size = UsedCarsSA_copy.dropna(subset = ['Engine_Size']).copy()
UsedCarsSA_no_Engine_Size.isnull().sum()

Make                  0
Type                  0
Year                  0
Origin                0
Color                 0
Options               0
Engine_Size           0
Fuel_Type             0
Gear_Type             0
Condition             0
Mileage               0
Region                0
Price                 0
Negotiable            0
Engine_Size_isnull    0
Options_isnull        0
dtype: int64

In [13]:
predict_Engine_Size = UsedCarsSA_copy[UsedCarsSA_copy['Engine_Size'].isna()].copy()
predict_Engine_Size.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2266 entries, 13 to 8245
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Make                2266 non-null   int64
 1   Type                2266 non-null   int64
 2   Year                2266 non-null   int64
 3   Origin              2266 non-null   int64
 4   Color               2266 non-null   int64
 5   Options             2266 non-null   int64
 6   Engine_Size         0 non-null      float64
 7   Fuel_Type           2266 non-null   int64
 8   Gear_Type           2266 non-null   int64
 9   Condition           2266 non-null   int64
 10  Mileage             2266 non-null   int64
 11  Region              2266 non-null   int64
 12  Price               2266 non-null   float64
 13  Negotiable          2266 non-null   int64
 14  Engine_Size_isnull  2266 non-null   int64
 15  Options_isnull      2266 non-null   int32
dtypes: float64(2), int32(1), int64(13)
memory usage: 292.1 KB

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

X_train, X_val, y_train, y_val = train_test_split(UsedCarsSA_no_Engine_Size.drop('Engine_Size', axis=1), UsedCarsSA_no_Engine_Size['Engine_Size'], test_size=0.08, random_state=42)

model = RandomForestRegressor()
model.fit(X_train, y_train)

y_val_pred = model.predict(X_val)

mse_val = mean_squared_error(y_val, y_val_pred)
print(f"Validation Mean Squared Error: {mse_val}")
r2_val = r2_score(y_val, y_val_pred)
print(f"Validation R-squared: {r2_val}")

x_test = predict_Engine_Size.drop('Engine_Size', axis=1)
y_test_pred = model.predict(x_test)

Validation Mean Squared Error: 0.807166135836813
Validation R-squared: 0.6464226107527788

In [15]:
y_test_pred

array([2.79 , 3.342, 3.754, ..., 2.857, 5.668, 7.303])

In [16]:
predict_Engine_Size['Engine_Size'] = y_test_pred.round(1)

In [17]:
predict_Engine_Size['Engine_Size'].isnull().sum()

0

In [18]:
predict_Engine_Size['Engine_Size']

13      2.8
29      3.3
42      3.8
60      2.1
72      1.6
       ...
8230    4.0
8236    2.5
8243    2.9
8244    5.7
8245    7.3
Name: Engine_Size, Length: 2266, dtype: float64

In [19]:
predict_Engine_Size['Make'] = predict_Engine_Size['Make'].map(dict(enumerate(['Chrysler', 'Nissan', 'Hyundai', 'Honda', 'Toyota', 'GMC',
       'Chevrolet', 'Mercedes', 'MINI', 'Lexus', 'Land Rover', 'Mazda',
       'Ford', 'Kia', 'Genesis', 'Cadillac', 'Geely', 'MG', 'Jeep',
       'INFINITI', 'Dodge', 'Ferrari', 'Great Wall', 'Jaguar', 'GAC',
       'Renault', 'Suzuki', 'Peugeot', 'Changan', 'HAVAL', 'BMW',
       'Rolls-Royce', 'Porsche', 'Mitsubishi', 'Isuzu', 'Subaru',
       'Zhengzhou', 'Audi', 'Lincoln', 'Volkswagen', 'Daihatsu', 'Fiat',
       'Bentley', 'FAW', 'Chery', 'Aston Martin', 'Pontiac', 'Mercury',
       'BYD', 'Classic', 'SsangYong', 'Hummer', 'Other', 'Maserati',
       'Lifan', 'Foton', 'Tata', 'Victory Auto', 'Å koda', 'JAC', 'Iveco',
       'Volvo', 'Ashok', 'MAN', 'Buick'])))
predict_Engine_Size['Type'] = predict_Engine_Size['Type'].map(dict(enumerate(['C300', 'Patrol', 'Sunny', 'Elantra', 'Accord', 'Land Cruiser',
       'Yukon', 'Impala', 'Yaris', 'Camry', 'Tahoe', 'CLA', 'E', 'Accent',
       'Corolla', 'Copper', 'Prado', 'Civic', 'Furniture', 'RX',
       'Range Rover', 'Avalon', 'Bus Urvan', 'Aurion', 'Malibu', 'Rav4',
       'CX9', 'Expedition', 'ES', 'Cadenza', 'Tucson', 'Platinum', 'G80',
       'Sonata', 'LX', 'Senta fe', 'GX', 'Azera', 'CT-S', 'EC7', 'ZS',
       'Kona', 'Grand Cherokee', 'Optima', 'S', 'M', 'Charger', 'Taurus',
       'GTB 599 Fiorano', 'Suburban', 'Royal', 'Picanto', 'Power',
       'Datsun', 'F-Pace', 'Hilux', 'FJ', 'Explorer', 'Land Cruiser 70',
       'GS8', 'Maxima', 'Caprice', 'Challenger', 'Camaro', 'Symbol',
       'Fluence', '6', 'RX5', 'APV', '3008', 'SRX', 'Cerato', 'Traverse',
       'Marquis', 'Innova', 'Sierra', 'F150', 'Genesis', 'NX', 'C', 'G70',
       'Flex', 'UX', 'Dyna', 'Cores', 'Creta', 'Rio', 'Odyssey', 'EC8',
       'Sylvian Bus', 'CT6', 'H1', 'Ciocca', 'Land Cruiser Pickup',
       'Cressida', 'Sportage', 'Duster', 'Seven', 'GLC', 'Carnival', 'H6',
       '300', 'The 7', 'Spark', 'Z370', 'Victoria', 'Ghost', '911',
       'Attrage', 'Focus', 'X-Trail', 'Forester', 'CX5', 'Pick up', 'ML',
       'The 4', 'GS', 'Pajero', 'Acadia', 'City', 'Echo Sport', 'Vego',
       'The 5', 'Silverado', 'A5', 'Cherokee', 'Altima', 'X', 'Navigator',
       'Wrangler', 'G', 'XT5', 'Cruze', 'Navara', 'Touareg', 'Gran Max',
       'Escalade', 'Cayenne S', 'Aveo', 'Soul', 'Durango', 'Montero',
       'Prestige', 'Sentra', 'Dokker', 'Veloster', 'Fusion', 'Capture',
       'Pathfinder', 'Seltos', 'Behbehani', 'LS', 'Emgrand', 'Carenz',
       'SEL', 'The 6', 'SL', 'H2', 'Fiorino', 'Nativa', 'Talisman',
       'Corvette', 'CL', 'Blazer', 'Mustang', '5008', 'CX3', 'Bentayga',
       'A', 'T77', 'Optra', 'Trailblazer', 'Safrane', 'QX', 'Pilot',
       'Tiggo', 'Ranger', 'H9', 'Eado', 'GLE', 'MKS', 'CT5', 'VTC',
       'Panamera', 'CS35', 'Toyota 86', 'Coolray', 'Countryman', 'D-MAX',
       'Azkarra', 'Partner', '301', 'A6', 'Previa', 'X-Terra', 'Other',
       'Hiace', 'Maybach', 'V7', 'CS75', 'Flying Spur', 'Outlander', 'GT',
       'Sorento', 'Vanquish', 'Safari', 'K5', 'Vantage', 'HRV', '3', 'Q5',
       'CT4', 'MKX', 'S5', 'X7', 'CS95', 'Rush', '2', 'Delta', 'IS',
       'Cayenne', 'CS35 Plus', 'SE', 'KICKS', 'Q', 'CS85', 'Armada',
       'Opirus', 'Echo', 'Avanza', 'GLB', 'Terios Ground', 'Abeka',
       'Bonneville', '5', 'S300', 'Corolla Cross', 'Koleos', '308',
       'MR-V', 'Town Car', 'Compass', 'Edge', 'Grand Marquis', 'A8',
       'Grand Vitara', 'Mohave', 'X Type', 'Lumina', 'Tiida', '500',
       'Macan', 'Savana', 'Passat', 'CLS', 'Stinger', 'Viano', 'A3', 'S8',
       'RX8', 'XJR', 'RC', 'MKZ', 'CC', 'Coaster', 'C-HR', 'S7', 'Wingle',
       'Terrain', 'Colorado', 'Ram', 'Vitara', 'Juke', 'C200', 'FX',
       'Terios', 'Fleetwood', 'Milan', 'Cayman', 'Boxer', 'ATS',
       'Cadillac', 'Rexton', 'H3', 'Tundra', 'Envoy', 'T60', 'Prius',
       'Montero2', 'Jaguar', 'Osa Bus', 'F3', 'XF', 'Gamble', 'The 3',
       'Koranado', 'L200', 'Crown', 'Lancer', '360', 'Jimny', 'Q7', 'XJ',
       'LF X60', 'Town and Country', 'Van', 'Patriot', 'GL', 'The M',
       'Arnage', 'ASX', 'F Type', 'Golf', 'E350', 'Coupe S', 'Freestar',
       'Camargue', 'Doblo', '4Runner', 'M300', 'ALB', 'Actros', 'DTS',
       'Avalanche', 'Bus County', 'Prestige Plus', 'BT-50', 'H-2', 'Z',
       'Avante', 'Discovery', 'A4', 'B50', 'K4000G', 'Sprinter',
       'Quattroporte', 'Bronco', 'Dakota', 'Beetle', 'Coupe', 'Mini Van',
       'Continental GT', 'Ertiga', 'GS3', 'Defender', 'A7', 'Gloria',
       'SLK', 'Tuscani', 'POS24', 'Kaptiva', 'Murano', 'DB9', 'Levante',
       'Jetta', 'H100', 'GLA', 'Transit', 'Sienna LE', 'CRV',
       'Thunderbird', '350', 'Nexon', 'i40', 'Cayenne Turbo S', 'Tiguan',
       'GC7', 'STS', 'Super Carry', 'Logan', 'i10', 'L300', 'Dzire',
       'LR2', 'Centennial', 'Axor', 'Cayenne Turbo', 'Mini Cooper',
       'Z350', 'Nitro', 'Van R', '323', 'Crosstour', 'SX4', 'Suvana',
       'Liberty', 'X40', 'Montero1', 'Bus', 'Megane', 'Fabia', 'Atego',
       'J5', 'Van Express', 'Daily', 'Carens', 'New Yorker', 'FH', 'G330',
       'Caprice Classic', 'Commander', 'The 1', 'Sedona',
       'Cayenne Turbo GTS', 'Grand Voyager', 'SRT', 'Bora', 'HS', "D'max",
       'Silvia', 'Eldorado', 'Pegas', 'Palisade', 'Celerio', 'Leyland',
       'Big Truck', 'XC90', 'C5700', 'Superb', 'GS4', 'The LS', 'Linea',
       'Fuso Canter', 'Veracruz', '307', 'S6', 'Space Star', 'Riviera',
       'ÙACTIS V80', 'CX7', 'R', 'QQ', 'Galant', 'Trafic', 'Carry'])))
predict_Engine_Size['Origin'] = predict_Engine_Size['Origin'].map(dict(enumerate(['Saudi', 'Gulf Arabic', 'Other'])))
predict_Engine_Size['Color'] = predict_Engine_Size['Color'].map(dict(enumerate(['Black', 'White', 'Silver', 'Grey', 'Navy', 'Bronze', 'Red',
       'Another Color', 'Golden', 'Brown', 'Blue', 'Oily', 'Green',
       'Yellow', 'Orange'])))
predict_Engine_Size['Options'] = predict_Engine_Size['Options'].map(dict(enumerate(['Full', 'Standard', 'Semi Full'])))
predict_Engine_Size['Fuel_Type'] = predict_Engine_Size['Fuel_Type'].map(dict(enumerate(['Gas', 'Diesel', 'Hybrid'])))
predict_Engine_Size['Gear_Type'] = predict_Engine_Size['Gear_Type'].map(dict(enumerate(['Automatic', 'Manual'])))
predict_Engine_Size['Condition'] = predict_Engine_Size['Condition'].map(dict(enumerate(['Used'])))
predict_Engine_Size['Region'] = predict_Engine_Size['Region'].map(dict(enumerate(['Riyadh', 'Jeddah', 'Dammam', 'Al-Medina', 'Qassim', 'Makkah',
       'Jazan', 'Aseer', 'Hail', 'Taef', 'Al-Ahsa', 'Abha', 'Sabya',
       'Besha', 'Khobar', 'Tabouk', 'Al-Baha', 'Hafar Al-Batin', 'Yanbu',
       'Jubail', 'Al-Jouf', 'Arar', 'Najran', 'Al-Namas', 'Qurayyat',
       'Wadi Dawasir', 'Sakaka'])))
predict_Engine_Size['Negotiable'] = predict_Engine_Size['Negotiable'].astype('bool')

In [20]:
UsedCarsSA.update(predict_Engine_Size)

In [21]:
UsedCarsSA

,Make,Type,Year,Origin,Color,Options,Engine_Size,Fuel_Type,Gear_Type,Condition,Mileage,Region,Price,Negotiable,Engine_Size_isnull,Options_isnull
0,Chrysler,C300,2018,Saudi,Black,Full,5.7,Gas,Automatic,Used,103000,Riyadh,114000.000000,False,0,0
1,Nissan,Patrol,2016,Saudi,White,Full,4.8,Gas,Automatic,Used,5448,Riyadh,143250.000000,True,0,0
2,Nissan,Sunny,2019,Saudi,Silver,Standard,1.5,Gas,Automatic,Used,72418,Riyadh,27500.000000,False,0,0
3,Hyundai,Elantra,2019,Saudi,Grey,Standard,1.6,Gas,Automatic,Used,114154,Riyadh,43000.000000,False,0,0
4,Hyundai,Elantra,2019,Saudi,Silver,Semi Full,2.0,Gas,Automatic,Used,41912,Riyadh,59500.000000,False,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8243,Audi,A6,2015,Saudi,Silver,Full,2.9,Gas,Automatic,Used,77000,Riyadh,75000.000000,False,1,0
8244,Chevrolet,Camaro,2010,Saudi,Silver,Full,5.7,Gas,Automatic,Used,150000,Riyadh,53000.000000,False,1,0
8245,Toyota,Land Cruiser,2013,Gulf Arabic,White,Full,7.3,Gas,Automatic,Used,260,Najran,123653.846154,True,1,0
8246,Nissan,Altima,2011,Saudi,Silver,Full,2.5,Gas,Automatic,Used,18500,Aseer,22000.000000,False,0,0
8247,Cadillac,Other,2013,Saudi,White,Full,3.6,Gas,Automatic,Used,256000,Al-Medina,40000.000000,False,0,0

In [23]:
UsedCarsSA.isnull().sum()

Make                  0
Type                  0
Year                  0
Origin                0
Color                 0
Options               0
Engine_Size           0
Fuel_Type             0
Gear_Type             0
Condition             0
Mileage               0
Region                0
Price                 0
Negotiable            0
Engine_Size_isnull    0
Options_isnull        0
dtype: int64